<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CarsDatabase.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="CarsDatabase.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb"
            providerName="System.Data.OleDb" />
        <add name="CarsDatabase.Properties.Settings.HireConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Android\Documents\Hire.accdb"
            providerName="System.Data.OleDb" />
        <add name="CarsDatabase.Properties.Settings.HireConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Android\Documents\OF\Database Files\Hire.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="CarsDatabase.Properties.Settings.HireConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Android\Documents\OF\DatabaseFiles\Hire.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>